
<script>
    console.log('hello world');
    $(document).ready(function(){
        $("p").click(function(){
            $(this).hide();
        });

    });
</script>
<h1>This is My New Home Page</h1>

<div>
    <form type="POST" action="/User/new" >
        <input type="submit" Value="Click Me" />
    </form>
    <a href="/User/new"> Click me</a>
</div>